<a href="https://colab.research.google.com/github/yashk121/pyspark-interview/blob/main/Copy_of_Pyspark_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import Window
spark = SparkSession.builder.appName("lrng1").getOrCreate()

In [ ]:
data=[('Alice',30,'Hyderabad'),('Bob',25,'Pune'),('Carol',29,'Hyderabad'),('Dave',35,'Pune')]
columns=['Name','Age','City']
df=spark.createDataFrame(data,columns)
df.show()

+-----+---+---------+
| Name|Age|     City|
+-----+---+---------+
|Alice| 30|Hyderabad|
|  Bob| 25|     Pune|
|Carol| 29|Hyderabad|
| Dave| 35|     Pune|
+-----+---+---------+

In [ ]:
df_avg_age=df.groupBy("City").agg(avg("Age").alias("AvgAge"))
df_avg_age.show()

+---------+------+
|     City|AvgAge|
+---------+------+
|     Pune|  30.0|
|Hyderabad|  29.5|
+---------+------+

In [ ]:
df.select("City","Age").groupBy("City").agg(avg("Age").alias("Avg_Age")).show()

+---------+-------+
|     City|Avg_Age|
+---------+-------+
|     Pune|   30.0|
|Hyderabad|   29.5|
+---------+-------+

In [ ]:
"""
Lets start our questions journey .
Sharing u 2 questions , send me the code for these .
"""
### Question 1: Data Transformation Using PySpark DataFrame
Given a DataFrame df with the following schema:

| name   | age | city     |
|--------|-----|----------|
| Alice  | 30  | Hyderabad|
| Bob    | 25  | Pune     |
| Carol  | 29  | Hyderabad|
| Dave   | 35  | Pune     |

Write PySpark code to:
- Group by "city" and calculate the average age per city.
- Display the resulting DataFrame with columns "city" and "avg_age".

### Question 2: Handling NULL Values in PySpark
Suppose you have a DataFrame df:

| name   | score  |
|--------|--------|
| Alice  | 70     |
| Bob    | None   |
| Carol  | 80     |
| Dave   | 90     |

Write PySpark code to:
- Filter out any rows where "score" is NULL.
- Show the final DataFrame with only the rows having valid (non-NULL) scores.

"""

In [ ]:
spark = SparkSession.builder.master("local[*]").appName("Pyspark_interview").getOrCreate()

# Verify the session
print(spark.version)

3.5.1

In [ ]:
data=[('Alice',70),('Bob',None),('Carol',80),('Dave',90)]
columns=['name','score']
df_score=spark.createDataFrame(data,columns)
df_score.show()

+-----+-----+
| name|score|
+-----+-----+
|Alice|   70|
|  Bob| NULL|
|Carol|   80|
| Dave|   90|
+-----+-----+

In [ ]:
df_score.filter(col("score").isNull()).show()

+----+-----+
|name|score|
+----+-----+
| Bob| NULL|
+----+-----+