<a href="https://colab.research.google.com/github/yashk121/pyspark-interview/blob/main/Pyspark_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from pyspark.sql import SparkSession

In [2]:
"""
Lets start out questions journey .
Sharing u 2 questions , send me the code for these .

### Question 1: Data Transformation Using PySpark DataFrame
Given a DataFrame df with the following schema:

| name   | age | city     |
|--------|-----|----------|
| Alice  | 30  | Hyderabad|
| Bob    | 25  | Pune     |
| Carol  | 29  | Hyderabad|
| Dave   | 35  | Pune     |

Write PySpark code to:
- Group by "city" and calculate the average age per city.
- Display the resulting DataFrame with columns "city" and "avg_age".

### Question 2: Handling NULL Values in PySpark
Suppose you have a DataFrame df:

| name   | score  |
|--------|--------|
| Alice  | 70     |
| Bob    | None   |
| Carol  | 80     |
| Dave   | 90     |

Write PySpark code to:
- Filter out any rows where "score" is NULL.
- Show the final DataFrame with only the rows having valid (non-NULL) scores.

"""

'\nLets start out questions journey . \nSharing u 2 questions , send me the code for these .\n\n### Question 1: Data Transformation Using PySpark DataFrame  \nGiven a DataFrame df with the following schema:\n\n| name   | age | city     |\n|--------|-----|----------|\n| Alice  | 30  | Hyderabad|\n| Bob    | 25  | Pune     |\n| Carol  | 29  | Hyderabad|\n| Dave   | 35  | Pune     |\n\nWrite PySpark code to:\n- Group by "city" and calculate the average age per city.\n- Display the resulting DataFrame with columns "city" and "avg_age".\n\n### Question 2: Handling NULL Values in PySpark  \nSuppose you have a DataFrame df:\n\n| name   | score  |\n|--------|--------|\n| Alice  | 70     |\n| Bob    | None   |\n| Carol  | 80     |\n| Dave   | 90     |\n\nWrite PySpark code to:\n- Filter out any rows where "score" is NULL.\n- Show the final DataFrame with only the rows having valid (non-NULL) scores.\n\n'

In [6]:
spark = SparkSession.builder.master("local[*]").appName("Pyspark_interview").getOrCreate()

# Verify the session
print(spark.version)

3.5.1